/* src/components/Button.css */
.custom-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: white;
    background-color: var(--button-bg-color);

}

.custom-button:hover {
    background-color: var(--button-hover-color);
}

.custom-button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}
